.project{
    position: relative;
    background-color: rgb(246, 246, 255);
    max-width: 600px;
    margin: 25px auto 25px auto;
    padding: 10px 20px 10px 20px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.15), 0 10px 10px rgba(0, 0, 0, 0.15);
}
.project__header{
    display: flex;
    border-bottom: 1px solid lightgray;
}
.project__title{
    flex: 1;
    text-align: left;
}
.project__form{
    display: flex;
}
.project__formControl{
    flex: 1;
}
.project__button{
    flex: 0;
    margin-left: 10px !important;
}